# ==========================================================
# CONFIGURATION GÉNÉRALE
# ==========================================================
# Basculer entre 'LOCAL' et 'AZURE'
ENV=LOCAL
APP_NAME="Puls-Events-MVP"

# Ports de l'application (pour rappel ou dockerisation future)
PORT_API=8000
PORT_UI=8001

# ==========================================================
# CONFIGURATION LOCALE (DÉVELOPPEMENT)
# ==========================================================
# Google Gemini (LLM)
GOOGLE_API_KEY=votre_cle_gemini_ici

# Mistral AI (Embeddings)
MISTRAL_API_KEY=votre_cle_mistral_ici

# ==========================================================
# CONFIGURATION AZURE (PRODUCTION)
# ==========================================================
# Azure OpenAI (LLM & Embeddings)
AZURE_OPENAI_API_KEY=       #votre_cle_azure_openai
AZURE_OPENAI_ENDPOINT=https://votre-ressource.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-02-15-preview

# --- STORAGE (The Data Lake) ---
# For your 'Compte de stockage'
AZURE_STORAGE_ACCOUNT_NAME="stapulsevents"
AZURE_STORAGE_CONNECTION_STRING=    #votre_chaine_de_connexion

# Azure AI Search (Moteur de recherche hybride)
AZURE_SEARCH_SERVICE_NAME=votre-service-search
AZURE_SEARCH_API_KEY=       #votre_cle_admin_search
AZURE_SEARCH_INDEX_NAME=pulsevents-idx
AZURE_SEARCH_ENDPOINT=      #https://votre-service-search.search.windows.net

# --- DEPLOYMENT NAMES ---
AZURE_OPENAI_DEPLOYMENT="gpt-4o"
AZURE_EMBEDDING_DEPLOYMENT="text-embedding-3-small"

# Azure Cosmos DB (Mémoire conversationnelle)
AZURE_COSMOS_CONNECTION_STRING=     #votre_chaine_de_connexion_cosmos

# ==========================================================
# CONFIGURATION DES DONNÉES & INGESTION
# ==========================================================

# Seuil pour l'ingestion incrémentale (ex: nb de jours à remonter)
INCREMENTAL_LOOKBACK_DAYS=7

# Clé API externe (si tu utilises une API tierce pour les événements nationaux)
EXTERNAL_EVENTS_API_KEY=votre_cle_api_externe

# OpenAgenda API V2
OPENAGENDA_API_KEY=votre_cle_api
OPENAGENDA_UID=l_id_de_l_agenda_cible
OPENAGENDA_URL=https://api.openagenda.com/v2/agendas/

#Chainlit authtification Secret key 
CHAINLIT_AUTH_SECRET="votre_cle_chainlit"